$topnav-background-color: #222;
:host {
  .toolbar {
    background-color: #222;
    color: #fff;
    .fill-remaining-space {
      /* This fills the remaining space, by using flexbox. 
               Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
    }
    .menu-btn {
      font-size: 18px;
    }
  }
}
