<div class="login-parent">
	<div class="login-block col-sm-4">
		<mat-card [class.mat-elevation-z5]="true">
			<div class="login-inner-wrapper text-center">
				<h2 class="text-center">Welcome!</h2>
				<form [formGroup] = "loginForm">
					<mat-form-field class="full-width">
						<input matInput placeholder="User ID" formControlName = "uid" type = "text">
						<mat-error *ngIf="!loginForm.controls['uid'].valid && loginForm.controls['uid'].touched">{{titleAlert}}</mat-error>
					</mat-form-field>
					<mat-form-field class="full-width">
						<input matInput placeholder="Password" formControlName = "pass" [type]="hide ? 'password' : 'text'">
						<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
							<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-error *ngIf="!loginForm.controls['pass'].valid && loginForm.controls['pass'].touched">{{ titleAlert }}</mat-error>
					</mat-form-field>
					<button mat-raised-button (click)="checkLogin(loginForm.value)">Login</button>
					<button mat-raised-button type="reset" (click)="reset()">Reset</button>
					<div class="alert alert-danger text-center invalid-block" *ngIf="flag">Invalid Credentials</div>
				</form>
			</div>
		</mat-card>
	</div>
</div>