<div class="login-parent">
	<div class="login-block col-sm-4">
		<mat-card [class.mat-elevation-z5]="true">
			<div class="login-inner-wrapper text-center">
				<h2 class="text-center">Welcome!</h2>
				<form [formGroup] = "loginForm">
					<mat-form-field class="full-width">
						<input matInput placeholder="User ID" formControlName = "uid" type = "text">
					</mat-form-field>
					<div class="alert alert-danger" *ngIf="!loginForm.controls['uid'].valid && loginForm.controls['uid'].touched">{{ titleAlert }}</div>
					<mat-form-field class="full-width">
						<input matInput placeholder="Password" formControlName = "pass" type = "password">
					</mat-form-field>
					<div class="alert alert-danger" *ngIf="!loginForm.controls['pass'].valid && loginForm.controls['pass'].touched">{{ titleAlert }}</div>
					<button mat-raised-button (click)="checkLogin(loginForm.value)">Login</button>
					<button mat-raised-button type="reset" (click)="reset()">Reset</button>
					<div class="alert alert-danger text-center invalid-block" *ngIf="flag">Invalid Credentials</div>
				</form>
			</div>
		</mat-card>
	</div>
</div>