button {
  color: #fff;
  background-color: #ff4081;
  margin: 0 20px;
}

.login-parent {
	margin-top: 15%;
}

.login-block {
	margin: 0 auto;
}

.login-inner-wrapper {
	h2 {
		font-size: 2em;
	}
}

.invalid-block {
	margin-top: 10px;
}