<h2 mat-dialog-title>Insert New Patient</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup] = "insertForm">
    <mat-form-field class="full-width">
        <input type="number" matInput formControlName = "patientId" placeholder="Patient ID*">
        <mat-error *ngIf="!insertForm.controls['patientId'].valid && insertForm.controls['patientId'].touched">{{idAlert}}</mat-error>
    </mat-form-field>
  	<mat-form-field class="full-width">
        <input type="text" matInput formControlName = "name" placeholder="Name*">
        <mat-error *ngIf="!insertForm.controls['name'].valid && insertForm.controls['name'].touched">{{ nameAlert }}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" hintLabel="Max 10 digits">
        <input type="text" matInput #input formControlName = "mobile" placeholder="Mobile Number*">
        <mat-error *ngIf="!insertForm.controls['mobile'].valid && insertForm.controls['mobile'].touched">{{mobileAlert}}</mat-error>
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="insertData(insertForm.value)" [disabled]="!insertForm.valid">Proceed</button>
</mat-dialog-actions>